cmake-build-debug/Testing/Temporary/LastTest.log
.idea/vcs.xml
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/CMakeFiles/Lecture1_Raylib.dir/Ball.cpp.o
cmake-build-debug/CMakeFiles/Lecture1_Raylib.dir/main.cpp.o
cmake-build-debug/CMakeFiles/Lecture1_Raylib.dir/Paddle.cpp.o
cmake-build-debug/Lecture1_Raylib
cmake-build-debug/Testing/Temporary/LastTest.log
